name: Paketo Build Reproduction

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pack-build:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: failure-test
      BUILDER: ap-docker/paketobuildpacks/builder-jammy-base
      POETRY_HTTP_BASIC_GRAINGER_ARTIFACTORY_USERNAME: "${{ secrets.JF_USER }"
      POETRY_HTTP_BASIC_GRAINGER_ARTIFACTORY_PASSWORD: "${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}"

    steps:
      - name: Log in to Artifactory Docker Registry
        uses: docker/login-action@v3
        with:
          registry: hts2-ap-docker.jfrog.io
          username: ${{ secrets.JF_USER }}
          password: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install pack CLI
        run: |
          curl -sSL "https://github.com/buildpacks/pack/releases/latest/download/pack-linux-amd64.tgz" \
          | sudo tar -C /usr/local/bin/ -xz pack

      - name: Build the image using Paketo buildpacks
        run: |
          pack build $IMAGE_NAME \
            --builder $BUILDER \
            --trust-builder \
            -e POETRY_HTTP_BASIC_GRAINGER_ARTIFACTORY_USERNAME="$POETRY_HTTP_BASIC_GRAINGER_ARTIFACTORY_USERNAME" \
            -e POETRY_HTTP_BASIC_GRAINGER_ARTIFACTORY_PASSWORD="$POETRY_HTTP_BASIC_GRAINGER_ARTIFACTORY_PASSWORD"

      - name: Verify built image
        run: docker images | grep $IMAGE_NAME
